
div {
    height:30vh;
    width:49%;

}

#left { 
    float:left;
    text-align:left;
}

#right {
    float:right;
    text-align:right;
}

button {

	background: #ffffff;

	border: 3px solid;
	border-color: #ff0000;

	display: inline-block;

	color: #000000;
	font-size: 1em;
	
	width: 95%;
	height:27vh;

	padding: 0;

}

button:active {

	background: #ff0000;

	color: #ffffff;
	font-size: 1em;

}
