{include file="admin/_head.tpl" title="Extension — %s"|args:$plugin.nom current="plugin_%s"|args:$plugin.id}

<audio id="sonalarme" preload="auto">
<source src="alarm.wav">
</audio>

{foreach from=$types_comptages item="type"}
	<div id="{if $position=="left"}{$position = "right"}{else}{$position = "left"}{/if}">	
		<button type="button" onclick="envoiComptage('{$id_session_comptage}','{$type.type_comptage}')">{$type.description}</button>
	</div>
{/foreach}	

<form method="get" action="/admin/plugin/comptages/">
	<p class="submit">
		<center>
		<input type="submit" name="save" value="arrêt / pause" />
		</center>
	</p>
</form>

</main>
</body>
</html>


